:root {
  --background-color: black;
  --header-font-color: black;
  --accent-color: aquamarine; 
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  font-size: 16px;
}

header {
  display: flex;
  background-color: var(--background-color);
  align-items: center;
  justify-content: space-between;
}

header h1 {
  background-color: var(--accent-color);
  margin: 20px 0;
  padding: 0 10px 0 50px;
  color: var(--header-font-color);
  font-size: 7vh;
}

header nav {
  display: flex;
  justify-content: space-between;
  width: 30%;
  padding-right: 5%;
}

nav a {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--accent-color);
  font-size: 3vh;
  text-decoration: none;
  border-bottom: 3px solid var(--accent-color);
  text-wrap: nowrap;
}

.hero-banner {
  height: 300px;
  background-image: url("../images/P1010142.JPG");
  background-repeat: repeat-x;
  background-size: 1500px;
  background-position: center;
}

.hero-banner h2 {
  background-color: var(--accent-color);
  color: var(--background-color);
  width: 40%;
  min-width: 420px;
  position: absolute;
  right: 5%;
  top: 30%;
  padding: 5px;
}

.page-wrapper {
  display: flex;
  padding: 50px 10%;
  flex-direction: column;
  /* background-color: green; */
}

.page-wrapper h2 {
  font-size: 6vh;
  text-align: right;
  padding-right: 20px;
  min-width: 15%;
  max-width: 15%;
  border-right: 4px solid var(--header-font-color);
  /* background-color: red; */
}

#about, #work, #contact {
  display: flex;
  margin-bottom: 30px;
}

.about-content, .project-container, .contact-container {
  padding-left: 40px;
  /* background-color: grey; */
}

.project-container {
  display: grid;
  width: 100%;
  /* background: peru; */
  grid-template-rows: 400px 200px 200px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "project1 project1"
    "project2 project3"
    "project4 project5"
  ;
}

#project-1 {
  grid-area: project1;
  background-image: url("../images/02-portfolio-3.jpg");
}

#project-2 {
  grid-area: project2;
  background-image: url("../images/02-portfolio-1.jpg");
}

#project-3 {
  grid-area: project3;
  background-image: url("../images/02-portfolio-2.jpg");
}

#project-4 {
  grid-area: project4;
  background-image: url("../images/02-portfolio-4.jpg");
}

#project-5 {
  grid-area: project5;
  background-image: url("../images/02-run-buddy.jpg");
}


.project-heading {
  background-color: var(--accent-color);
  color: var(--header-font-color);
  padding: 15px;
  font-size: 18px;
  width: fit-content;
  margin-bottom: 20px;
}

.project {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
  border: 5px solid var(--accent-color);
  text-decoration: none;
}

.project:hover {
  opacity: 0.8;
  transition: .5s ease;
}

.contact-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.contact-container a {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--header-font-color);
  font-size: 3vh;
  text-decoration: none;
  border-bottom: 3px solid var(--header-font-color);
}

.contact-container a:hover, nav a:hover {
  filter: brightness(0.7);
  transition: .5s ease;
}


/* Responsive Layout CSS */

@media only screen and (max-width: 1300px) {
  #about, #work, #contact {
    flex-direction: column;
  }
  .page-wrapper h2 {
    font-size: 6vh;
    align-self: center;
    text-align: center;
    padding-right: none;
    min-width: 15%;
    max-width: 70%;
    border-right: none;
  }
  
  #contact h2 {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 1000px) {
  .project-container {
    grid-template-rows: 200px 200px 200px 200px 200px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "project1"
    "project2" 
    "project3"
    "project4" 
    "project5"
  ;
  }
  nav a {
    width: 70%;
  }
}

@media only screen and (max-width: 800px) {
  nav a {
    display: none;
  }
}
/* @media only screen and (max-width: 1000px) {
  #navigation {
    display: none;
  }
  .icons {
    margin-left: auto;
  }
}

@media only screen and (max-width: 600px) {
  #headline {
    position: static;
    margin: 20px;
  }
  #heroGrid {
    grid-template-areas:
    "featuredProduct featuredProduct"
    "secondaryProduct CTA";
  }
  #categoryGrid {
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "bookcases"
      "bedroom"
      "patio"
      "couches"
      "desks"
    ;
  }
} */
